# MySql global
MYSQL_ROOT_PASSWORD=123456
MYSQL_SCRIPT_CEO=./mysqlScript/database_ceo.sql
MYSQL_SCRIPT_CPO=./mysqlScript/database_cpo.sql

# MySql5
MYSQL5_CONF=./mysql5/conf
MYSQL5_DATA=./mysql5/data
MYSQL5_EXP_PORT=3300

# MySql8
MYSQL8_CONF=./mysql8/conf
MYSQL8_DATA=./mysql8/data
MYSQL8_EXP_PORT=3301

# Redis
REDIS_DATA=./redis/data
REDIS_EXP_PORT=6300
REDIS_PASSWORD=123456

# Mongo
MONGO_DATA=./mongo/data
MONGO_EXP_PORT=27000
MONGO_USER=admin_user
MONGO_PASSWORD=123456

# Postgres
POSTGRES_DATA=./postgres/data
POSTGRES_EXP_PORT=5400
POSTGRES_USER=admin_user
POSTGRES_PASSWORD=123456

